@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style : italic;
  src: url("../fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    e("url(${c:encodeThemeURL('~./zul/fonts/test/SourceSansPro-Bold.woff2')}) format('woff'),")
    e("url(${c:encodeThemeURL('~./zul/fonts/SourceSansPro-Bold.woff')}) format('woff'),")
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
        url('../fonts/SourceSansPro-Italic.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
